<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SMMMconfig>
  <Mod>
    <Name>AudioMod</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\AudioMod.zip</Path>
    <ID>3</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>MC 1.0.0 - Player API client 1.5</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\MC 1.0.0 - Player API client 1.5.zip</Path>
    <ID>4</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>minecraftforge-client-1.2.4</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\minecraftforge-client-1.2.4.zip</Path>
    <ID>5</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>ModLoader</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\ModLoader.zip</Path>
    <ID>1</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>ModLoaderMp 1.0.0</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\ModLoaderMp 1.0.0.zip</Path>
    <ID>2</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>TooManyItems2011_11_29</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\TooManyItems2011_11_29.zip</Path>
    <ID>8</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>SmartMoving Client for ModLoaderMp</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\SmartMoving Client for ModLoaderMp.zip</Path>
    <ID>64</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>GuiAPI-0.12.0-1.0.0</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\GuiAPI-0.12.0-1.0.0.zip</Path>
    <ID>73</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>ComputerCraft1.11</Name>
    <Destination>COMPLEX</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\ComputerCraft1.11.zip</Path>
    <ID>91</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT/ComputerCraft</source>
        <target>MODS/ComputerCraft</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>IDResolver_1.0.0-Update-2-Extended_ID_Edition</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\IDResolver_1.0.0-Update-2-Extended_ID_Edition.zip</Path>
    <ID>100</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>MC1.0.0_4096IDs_V1.0.1_Standalone</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\MC1.0.0_4096IDs_V1.0.1_Standalone.zip</Path>
    <ID>101</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>ISAPIPatch</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\ISAPIPatch.zip</Path>
    <ID>103</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>ItemSpriteAPIv4.0</Name>
    <Destination>JAR</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\ItemSpriteAPIv4.0.zip</Path>
    <ID>102</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT</source>
        <target>JAR</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>RedPowerArray-2.0pr4c</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\RedPowerArray-2.0pr4c.zip</Path>
    <ID>118</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>RedPowerCore-2.0pr4c</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\RedPowerCore-2.0pr4c.zip</Path>
    <ID>119</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>RedPowerLighting-2.0pr4c</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\RedPowerLighting-2.0pr4c.zip</Path>
    <ID>120</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>RedPowerLogic-2.0pr4c</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\RedPowerLogic-2.0pr4c.zip</Path>
    <ID>121</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>RedPowerMachine-2.0pr4c</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\RedPowerMachine-2.0pr4c.zip</Path>
    <ID>122</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>RedPowerWiring-2.0pr4c</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\RedPowerWiring-2.0pr4c.zip</Path>
    <ID>123</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>RedPowerWorld-2.0pr4c</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\RedPowerWorld-2.0pr4c.zip</Path>
    <ID>124</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>industrialcraft-2-client_1.43</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\industrialcraft-2-client_1.43.jar</Path>
    <ID>181</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>Weaponmod</Name>
    <Destination>COMPLEX</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\Weaponmod.zip</Path>
    <ID>190</ID>
    <InstallActions>
      <SMMMLib.DirectoryCopyAction>
        <source>MODROOT/Files for mods folder (MCForge)</source>
        <target>MODS</target>
      </SMMMLib.DirectoryCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>buildcraft-client-A-core-3.1.1</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\buildcraft-client-A-core-3.1.1.zip</Path>
    <ID>199</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>buildcraft-client-B-builders-3.1.1</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\buildcraft-client-B-builders-3.1.1.zip</Path>
    <ID>200</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>buildcraft-client-B-energy-3.1.1</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\buildcraft-client-B-energy-3.1.1.zip</Path>
    <ID>201</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>buildcraft-client-B-factory-3.1.1</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\buildcraft-client-B-factory-3.1.1.zip</Path>
    <ID>202</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>buildcraft-client-B-transport-3.1.1</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\buildcraft-client-B-transport-3.1.1.zip</Path>
    <ID>203</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>buildcraft-client-C-silicon-3.1.1</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\buildcraft-client-C-silicon-3.1.1.zip</Path>
    <ID>204</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>TaleOfKingdoms Ver1.3 Pre 3</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\TaleOfKingdoms Ver1.3 Pre 3.zip</Path>
    <ID>253</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
  <Mod>
    <Name>Metallurgy 1.2.0 SSP</Name>
    <Destination>MODS</Destination>
    <Path>C:\Users\Charlie\AppData\Roaming\SMMM\Mods\Metallurgy 1.2.0 SSP.zip</Path>
    <ID>262</ID>
    <InstallActions>
      <SMMMLib.FileCopyAction>
        <source>ZIP</source>
        <target>MODS/NAME</target>
      </SMMMLib.FileCopyAction>
    </InstallActions>
  </Mod>
</SMMMconfig>